@font-face {
 font-family: 'MyFont';
 src: url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;

}

@font-face{
 font-family: 'Montserrat';
 src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

.Main{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 position: relative;
 align-items: center;
 width: 375px;
 height: 812px;
 background-color: #171717;
}

.Header{
 position: absolute;
 top: 30px;
}

.MainText{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: 'MyFont';
 font-size: 64px;
 width: 331px;
 height: 154px;
 position: absolute;
 top:272px;
 line-height: 73px;

 
}

.Text{
margin: 0px;
color: white;
opacity: 0;
transform: translateX(-50px);
animation: slideIn 2s ease-out forwards;
animation-delay: 0.7s;
}

@keyframes slideIn {
 to{
  opacity: 1;
  transform: translateX(0);
 }
}

@keyframes slideUp{
 to{
  opacity: 1;
 }
}
.AnotherText{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: 'Montserrat';
 font-size: 12px;
 color: #FFFFFF;
 margin: 0px;
 width: 368px;
 height: 40px;
 position: absolute;
 top: 416px;
}

.another1{
 margin: 0px;
 opacity: 0;
 animation: slideUp 3s ease-out forwards;
 animation-delay: 1.4s;
 
}
.another2{
 margin: 5px 0px 0px 0px;
  opacity: 0;
 animation: slideUp 3s ease-out forwards;
 animation-delay: 1.4s;
}

.vector2{
 width: 41.47px;
 height: 54.08px;
 position: absolute;
 top: 217.58px;
 right: 48.26px;
}

.vector1{
 width: 43.27px;
 height: 45.07px;
 position: absolute;
 top: 254.93px;
 right: 46.46px;
}

.vector3{
 width: 139px;
 height: 74px;
 position: absolute;
 top: 537.83px;
 left: 5.62px;
 z-index: 1;
}

.song-button{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 256px;
 height: 56px;
 background-color: transparent;
 border: 1px solid #FFFFFF;
 border-radius: 5px;
 color: #FFFFFF;
 font-family: 'Montserrat';
 cursor: pointer;
 font-weight: 900;
 font-size: 20.2px;
 position: absolute;
 top: 576px;
 left: 60px;
 transition: all 0.3s ease-in-out;
 opacity: 0;
 animation: slideUp 2s ease-out forwards;
 animation-delay: 2s;
 text-decoration: none;
}

.song-button:hover{
 background-color: rgba(243, 147, 147, 0.1);
}

.song-button:active{
 background-color: rgb(207, 202, 202, 0.3);
}

.Info{
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 width: 256px;
 height: 60px;
 top: 652px;
 left: 60px;
 line-height: 20px;
 opacity: 0;
 animation: slideUp 2s ease-out forwards;
 animation-delay: 2s;
}
.InfoText{
 font-family: 'Montserrat';
 color: #FFFFFF;
 font-size: 12px;
 margin: 0px;


}
.design{
 display: flex;
 align-items: start;
 justify-content: start;
 height: 60px;
 margin-right: 3.5px;
}

/* DatePage*/

.navbar{
 position: absolute;
 top: 745px;
}


.nav-buttons{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 position: absolute;
 top: 670px;
 width: 327px;
 height: 48px;
}

.nav-buttons-first-page{
  display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 position: absolute;
 top: 670px;
 width: 327px;
 height: 48px;
}

.nextPage{
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: 'Montserrat';
 font-size: 16px;
 width: 125px;
 height: 48px;
 background-color: transparent;
 color: #FFFFFF;
 border-radius: 5px;
 border: 2px solid #FFFFFF;
 padding: 0px;
 text-decoration: none;
 box-sizing: border-box;
}

.backPage{
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: 'Montserrat';
 font-size: 16px;
 width: 143px;
 height: 48px;
 background-color: transparent;
 color: #FFFFFF;
 border-radius: 5px;
 border: 2px solid #FFFFFF;
 padding: 0px;
 text-decoration: none;
 box-sizing: border-box;
}



.vector-next-button{
 width: 16.03px;
 height: 19px;
 margin-left: 10px;
}

.vector-back-button{
 width: 16.03px;
 height: 19px;
 margin-right: 10px;
}

.vector-button{
 width: 16.03px;
 height: 19px;
 margin-left: 10px;
}
.react-datepicker{
 position: absolute;
 top: 326px;
}

.number-svg{
 position: absolute;
 top: 150px;
 left: 25px;
 width: 59px;
 height: 110px;
}

.number-two-svg{
 position: absolute;
 top: 144px;
 left: 24px;
 width: 104px;
 height: 110px;
}

.number-three-svg{
  position: absolute;
 top: 165px;
 left: 24px;
 width: 109px;
 height: 124px;
}

.text-svg{
 position: absolute;
 top: 180px;
 left: 28px;
 width: 305px;
 height: 117px;
 z-index: 1;
}

.Info-date-page{
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 width: 327px;
 height: 40px;
 top: 652px;
 left: 60px;
 line-height: 20px;
 opacity: 0;
 animation: slideUp 2s ease-out forwards;
 animation-delay: 2s;
}
.InfoText-date-page{
 font-family: 'Montserrat';
 color: #FFFFFF;
 font-size: 12px;
 margin: 0px;


}
.design-date-page{
 display: flex;
 align-items: start;
 justify-content: start;
 height: 40px;
 margin-right: 3.5px;
}

/* TimePage */

.Button-time{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 position: absolute;
 top: 340px;
 left: 24px;
 height: 204px;
 width: 327px;
}

.Time-line-one{
 display: flex;
 flex-direction: column;
 gap: 24px;
 margin-right: 18px;
}

.Time-line-two{
 display: flex;
 flex-direction: column;
 gap: 24px;

}

.time-button{
 font-family: 'Montserrat';
 font-size: 20px;
 color:#FFFFFF;
 background-color: transparent;
 border: 2px solid #FFFFFF;
 border-radius: 5px;
 width: 154px;
 height: 52px;
 padding: 0px;
}

.Info-time-page{
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 width: 327px;
 height: 40px;
 top: 568px;
 left: 27px;
 line-height: 20px;
 opacity: 0;
 animation: slideUp 2s ease-out forwards;
 animation-delay: 2s;
}
.InfoText-time-page{
 font-family: 'Montserrat';
 color: #FFFFFF;
 font-size: 12px;
 margin: 0px;


}
.design-time-page{
 display: flex;
 align-items: start;
 justify-content: start;
 height: 40px;
 margin-right: 3.5px;
}

/* SongPage */

.name-of-song{
font-family: 'Montserrat';
font-size: 12px;
width: 324px;
height: 52px;
padding-left: 20px;
color: #FFFFFF;
background-color: transparent;
border: 2px solid #FFFFFF;
border-radius: 5px;
box-sizing: border-box;
}

.input-div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 340px;
  left: 24px;
}

.info-div{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 418px;
  left: 24px;
  width: 327px;
  height: 140px;
  color: #FFFFFF;
  gap: 30px;
}