html, body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%; 
  height: 100%;
  background-color: #171717;
  overflow-x: hidden;
  overflow-y: hidden;
}

body{
  overflow-x: hidden;  
  overflow-y: hidden;
  display: block;
}

@font-face {
 font-family: 'MyFont';
 src: url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;

}

@font-face{
 font-family: 'Montserrat';
 src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

.Main{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 position: relative;
 align-items: center;
 width: 100%;
 max-width: 375px;
 height: 100vh;
 margin: 0 auto;
 background-color: #171717;
}

.Header{
 position: absolute;
 top: 5px;
}

.MainText{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: 'MyFont';
 font-size: 64px;
 width: 331px;
 height: 154px;
 position: absolute;
 top: 180px;
 line-height: 73px;

 
}

.Text{
margin: 0px;
color: white;
opacity: 0;
transform: translateX(-50px);
animation: slideIn 2s ease-out forwards;
animation-delay: 0.7s;
}

@keyframes slideIn {
 to{
  opacity: 1;
  transform: translateX(0);
 }
}

@keyframes slideUp{
 to{
  opacity: 1;
 }
}
.AnotherText{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: 'Montserrat';
 font-size: 12px;
 color: #FFFFFF;
 margin: 0px;
 width: 368px;
 height: 40px;
 position: absolute;
 top: 324px;
}

.another1{
 margin: 0px;
 opacity: 0;
 animation: slideUp 3s ease-out forwards;
 animation-delay: 1.4s;
 
}
.another2{
 margin: 5px 0px 0px 0px;
  opacity: 0;
 animation: slideUp 3s ease-out forwards;
 animation-delay: 1.4s;
}

.vector2{
 width: 41.47px;
 height: 54.08px;
 position: absolute;
 top: 125.58px;
 right: 48.26px;
}

.vector1{
 width: 43.27px;
 height: 45.07px;
 position: absolute;
 top: 162.93px;
 right: 46.46px;
}

.vector3{
 width: 139px;
 height: 74px;
 position: absolute;
 top: 445.83px;
 left: 5.62px;
 z-index: 1;
}

.song-button{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 256px;
 height: 56px;
 background-color: transparent;
 border: 1px solid #FFFFFF;
 border-radius: 5px;
 color: #FFFFFF;
 font-family: 'Montserrat';
 cursor: pointer;
 font-weight: 900;
 font-size: 20.2px;
 position: absolute;
 top: 484px;
 left: 60px;
 transition: all 0.3s ease-in-out;
 opacity: 0;
 animation: slideUp 2s ease-out forwards;
 animation-delay: 2s;
 text-decoration: none;
}

.song-button:hover{
 background-color: #FFFFFF;
 color: black;
}

.song-button:active{
 background-color: #960500;
 color: #FFFFFF;
}

.Info{
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 width: 256px;
 height: 60px;
 top: 560px;
 left: 60px;
 line-height: 20px;
 opacity: 0;
 animation: slideUp 2s ease-out forwards;
 animation-delay: 2s;
}
.InfoText{
 font-family: 'Montserrat';
 color: #FFFFFF;
 font-size: 12px;
 margin: 0px;


}
.design{
 display: flex;
 align-items: start;
 justify-content: start;
 height: 60px;
 margin-right: 3.5px;
}

/* DatePage*/

.navbar{
 position: absolute;
 top: 610px;
}


.nav-buttons{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 position: absolute;
 top: 555px;
 width: 327px;
 height: 48px;
}

.nav-buttons-first-page{
  display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 position: absolute;
 top: 555px;
 width: 327px;
 height: 48px;
}

.nextPage{
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: 'Montserrat';
 font-size: 16px;
 width: 125px;
 height: 48px;
 background-color: transparent;
 color: #FFFFFF;
 border-radius: 5px;
 border: 2px solid #FFFFFF;
 padding: 0px;
 text-decoration: none;
 box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.nextPage:hover{
 background-color: rgb(255, 255, 255, 0.5);
 color: #FFFFFF;
}

.nextPage:active{
 background-color: #960500;
 color: #FFFFFF;
}

.backPage{
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: 'Montserrat';
 font-size: 16px;
 width: 143px;
 height: 48px;
 background-color: transparent;
 color: #FFFFFF;
 border-radius: 5px;
 border: 2px solid #FFFFFF;
 padding: 0px;
 text-decoration: none;
 box-sizing: border-box;
 transition: all 0.3s ease-in-out;
}

.backPage:hover{
 background-color: rgb(255, 255, 255, 0.5);
 color: #FFFFFF;
}

.backPage:active{
 background-color: #960500;
 color: #FFFFFF;
}




.vector-next-button{
 width: 16.03px;
 height: 19px;
 margin-left: 10px;
}

.vector-back-button{
 width: 16.03px;
 height: 19px;
 margin-right: 10px;
}

.vector-button{
 width: 16.03px;
 height: 19px;
 margin-left: 10px;
}
.react-datepicker{
 position: absolute;
 top: 225px;
}

.number-svg{
 position: absolute;
 top: 87px;
 left: 25px;

}

.number-two-svg{
 position: absolute;
 top: 85px;
 left: 24px;

}

.number-three-svg{
  position: absolute;
 top: 84px;
 left: 24px;

}

.text-svg{
 position: absolute;
 top: 105px;
 left: 45px;
 width: 100%;
 max-width: 280px;
 height: auto;
 z-index: 1;
 shape-rendering: geometricPrecision;
 text-rendering: geometricPrecision; 
 image-rendering: optimizeQuality
 
}

.Info-date-page{
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 width: 327px;
 height: 40px;
 top: 560px;
 left: 60px;
 line-height: 20px;
 opacity: 0;
 animation: slideUp 2s ease-out forwards;
 animation-delay: 2s;
}
.InfoText-date-page{
 font-family: 'Montserrat';
 color: #FFFFFF;
 font-size: 12px;
 margin: 0px;


}
.design-date-page{
 display: flex;
 align-items: start;
 justify-content: start;
 height: 40px;
 margin-right: 3.5px;
}

/* TimePage */

.Button-time{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 position: absolute;
 top: 248px;
 left: 24px;
 height: 204px;
 width: 327px;
}

.Time-line-one{
 display: flex;
 flex-direction: column;
 gap: 24px;
 margin-right: 18px;
}

.Time-line-two{
 display: flex;
 flex-direction: column;
 gap: 24px;

}

.time-button{
 font-family: 'Montserrat';
 font-size: 20px;
 color:#FFFFFF;
 background-color: transparent;
 border: 2px solid #FFFFFF;
 border-radius: 5px;
 width: 154px;
 height: 52px;
 padding: 0px;
 transition: all 0.3s ease-in-out;
}

.time-button:hover{
 background-color: rgb(255, 255, 255, 0.5);
 color: #FFFFFF;
}

.time-button:active{
 background-color: #960500;
 color: #FFFFFF;
}

.time-button.active{
  background-color: rgb(255, 255, 255, 0.5);
}
.Info-time-page{
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 width: 327px;
 height: 40px;
 top: 476px;
 left: 27px;
 line-height: 20px;
 opacity: 0;
 animation: slideUp 2s ease-out forwards;
 animation-delay: 2s;
}
.InfoText-time-page{
 font-family: 'Montserrat';
 color: #FFFFFF;
 font-size: 12px;
 margin: 0px;


}
.design-time-page{
 display: flex;
 align-items: start;
 justify-content: start;
 height: 40px;
 margin-right: 3.5px;
}

/* SongPage */

.name-of-song{
display: flex;
align-items: center;
justify-content: center;
font-family: 'Montserrat';
font-size: 12px;
width: 324px;
height: 52px;
padding-left: 20px;
color: #FFFFFF;
background-color: transparent;
border: 2px solid #FFFFFF;
border-radius: 5px;
box-sizing: border-box;
}

.input-div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 248px;
  left: 24px;
}

.info-div{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 326px;
  left: 24px;
  width: 327px;
  height: 140px;
  color: #FFFFFF;
  gap: 30px;
}

/* DonatePage */

.reference-button{
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: black;
  padding: 0px;
}

.reference-div{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 318px;
  left: 24px;
  width: 328px;
  height: 44px;
}

.info-div-one{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 320px;
  height: 60px;
  position: absolute;
  top: 236px;
  left: 24px;
  line-height: 20px;
}

.number-four-svg{
  position: absolute;
  top: 85px;
  left: 24px;
  width: 117px;
  height: 144px;
} 

.input-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 323px;
  height: 52px;
  position: absolute;
  top: 450px;
  left: 24px;

}

.upload-img{
display: none;
}

.info-div-two{
  position: absolute;
  top: 386px;
  left: 24px;
  width: 327px;
  height: 40px;
  line-height: 20px;
}

.upload-button{
display: flex;
align-items: center;
justify-content: center;
font-family: 'Montserrat';
font-size: 12px;
width: 323px;
height: 52px;
color: #FFFFFF;
background-color: transparent;
border: 2px solid #FFFFFF;
border-radius: 5px;
box-sizing: border-box;
cursor: pointer;
transition: all 0.3s ease-in-out;
}

.upload-button:hover{
background-color: rgba(243, 147, 147, 0.1);
}  

/* CommentPage */

.info-comment-div{
  width: 327px;
  height: 40px;
  line-height: 20px;
  position: absolute;
  top: 236px;
  left: 24px;
}

.input-comment-div{
  width: 328px;
  height: 109px;
  position: absolute;
  top: 318px;
  left: 24px;
}

.input-comment{
  font-family: 'Montserrat';
  color: #FFFFFF;
  font-size: 12px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  padding-left: 20px;
  padding-bottom: 70px;
  padding-top: 16px;
  width: 304px;
  height: 21px;
}

.back{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background-color: transparent;
  width: 72px;
  height: 48px;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}

.next{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 171px;
  height: 48px;
  border: 2px solid #FFFFFF;;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Montserrat'; 
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.number-five-svg{
 position: absolute;
 top: 87px;
 left: 30px;
 width: 111px;
 height: 138px;
}  

/* FinalPage */

.info-final-text{
  position: absolute;
  top: 374px;
  left: 24px;
  width: 327px;
  height: 120px;
  line-height: 20px;
}

.InfoText-final{
  color:#FFFFFF;
  font-family: 'Montserrat';
  font-size: 12px;
  margin-top: 20px;
}

.final-text-svg{
  position: absolute;
  top: 250px;
  left: 24px;
  width: 321px;
  height: 92px;
}

.heart-svg{
  position: absolute;
  top: 185px;
  left: 0px;
}

.link-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 600px;
  left: 73px;
  width: 230px;
  height: 64px;
}