.logo-button{
all:unset;
display: inline-block;
align-items: center;
justify-content: center;
width: 91px;
height: 81px;
cursor: pointer;
 }

 .logo{
  width: 100%;
  height: auto;
  display: block;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision; 
  image-rendering: optimizeQuality;
 }

 .Header{
  width: 89px;
  height: 79px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  align-items: center;
  justify-content: center;
 }

 .Header:hover{
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(207, 202, 202, 0.1);
 }

 .Header:active{
  cursor: pointer;
  border: 2px solid rgb(156, 156, 156);
  background-color: rgb(207, 202, 202, 0.3);
 }